<a routerLink="/displayData">go displaying Data</a>
<a routerLink="/addHero">go addHero</a>
<router-outlet></router-outlet>

<!-- 生命周期钩子 -->
<!-- <h3>{{title}}</h3>
<label>Power<input type="text" [(ngModel)]="power"/></label>
<br>
<label>Hero.name<input type="text" [(ngModel)]="hero.name"></label>

<app-lifecyle-test [a]="a" (plusa)="add()" [hero]="hero" [power]="power"></app-lifecyle-test> -->

<!-- 组件交互 -->
<!-- <h2>使用setter&getter截听输入属性值的变化</h2> -->
<!-- <h2>Master controls {{names.length}} names</h2> -->
<!-- <app-interaction-child *ngFor="let name of names" [name]="name"></app-interaction-child> -->

<!-- <h2>使用ngOnChanges截听输入属性值的变化</h2>
<button (click)="newMinor()">最新小版本</button>
<button (click)="newMajor()">最新大版本</button>
<app-interaction-child [major]="major" [minor]="minor"></app-interaction-child> -->

<h2>父组件钩去子组件的属性和方法:</h2>
<!-- <h3>本地变量(#child)</h3>
<button (click)=timer.start()>Start</button>
<button (click)=timer.stop()>Stop</button>
<div class="message">{{timer.seconds}}</div>
<app-countdown-child #timer></app-countdown-child> -->

<h2>父组件调用@ViewChild</h2>
<button (click)=start()>Start</button>
<button (click)=stop()>Stop</button>
<div class="message">{{seconds()}}</div>
<app-countdown-child></app-countdown-child>